#piepag {
    background: turquoise;
    width: 100%;
    overflow: auto;
    margin-top: 2%;
    border-top: 1px solid #aadcd2;
}

#piepag i {
    font-size: 200%;
    color: rgb(255, 228, 228);
    padding: 6px;
    text-align: center;
}

#piepag li {
    display: inline;
}

#piepag ul {
    text-align: center;
}

