#tabContenedor ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.botones{
    background: rgb(117, 212, 204);
    padding: 7px;
    margin: 10px;
}

#tabContenido div{
    display: inline;
    position: absolute;
    width: 60%;
    background: rgb(117, 212, 204);
}

#tabContenido div:not(:nth-child(1)){
    display: none;
}

#tabContenido div:target{
    display: inline-block;
}

#Detalleinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

#detalleInfo table {
    background-color: rgb(187, 236, 238);
    padding: 5px;
}

#detalleInfo table tr:nth-child(even){
    background-color: rosybrown;
}