#tabContenedor ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.botones{
    background: rgb(248, 209, 137);
    padding: 10px;
    margin: 5px;
}

#tabContenido div{
    display: inline-block;
    position: absolute;
    width: 60%;
    padding: 3px 5px;
    background: sandybrown;
}

#tabContenido div:not(:nth-child(1)){
    display: none;
}

#tabContenido div:target{
    display: inline-block;
}