
#cuadro{
    background: rgb(160, 95, 224);
    padding: 30px ;
    margin-top: 40px;
    width: 78%;
    padding-left: 300px;
}

#tabContenedor ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.botones{
    background: rgb(117, 212, 204);
    padding: 7px;
    margin: 5px;
    border-radius: 10px 0px 0px 0px;
}

#tabContenido div{
    display: inline;
    position: absolute;
    width: 60%;
    height: 10%;
    padding: 20px;
    background: rgb(117, 212, 204);
    border-radius: 0px 10px 10px 10px;
}

#tabContenido div:not(:nth-child(1)){
    display: none;
}

#tabContenido div:target{
    display: inline-block;
}

#Detalleinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15%;
}

#Detalleinfo table {
    background-color: rgb(187, 236, 238);
    padding: 5px;
}

#Detalleinfo table tr:nth-child(even){
    background: rgb(223, 151, 151);
}

#Detalleinfo table tr:nth-child(odd){
    background: rgb(131, 213, 224);
}